/* =======================================================
*
* 	about us page style [flower power]
*
* ======================================================= */
.jumbotron {
  background-image: url("images/blurredflower.jpeg");
  background-size: cover;
}
body {
  background-image: url("images/ricepaper.jpeg");
}
.jumbotron h1 {
  color: black;
  font-family: 'Allura';
  font-style: italic;
  font-weight: bold;
  /* font-size: 50%; */
  text-align: center;
  margin-top: 0;
}
body {
  font-family: "merienda", Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #828282;
  background: #fff;
}
p {
  color: slategrey;
  font-style: 'italic';
  font-family: "merienda";
  font-size: 18px;
  text align: "left";
  margin-bottom: 24px;
}
.aboutus h2 {
  color: #6550a8;
  font-family: 'merienda';
  font-style: "italic";
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}
.aboutus span {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: 'merienda';
}

/* End of about us stylesheet css  */
