.jumbotron {
  background-image: url("images/blurredflower.jpeg");
  background-size: cover;
}
.jumbotron h1 {
  color: black;
  font-family: 'Allura';
  font-style: italic;
  font-weight: bold;
  /* font-size: 50%; */
  text-align: center;
  margin-top: 0;
}

/* @media screen and (min-width: 768px)
.jumbotron .h1, .jumbotron h1 {
  font-size: 30px;
} */

p {
  color: slategrey;
  font-style: italic;
  font-family: 'merienda';
  font-size: 18px;
  text align: 'right';
}
button {
    border: none;
    color: black;
    padding: 7px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
}
#buttons {
  top: 0;
  right: 0;
  padding-top: 1em;
  padding-right: 2em;
}
#fb {
  background-color: #3b5998;
}
#twitter {
  background-color: #00aced;
}
#ig {
  background-color: #8a3ab9;
}
#pinterest {
  background-color: #c92228;
}
nav {
  font-family: 'merienda';
  font-size: 30px;
  font-style: italic;
  text-decoration: none;
}
ul {
  list-style: none;
}

li {
  padding-top: 0.85em;
  padding-bottom: 0.85em;
}
a {
  color: white;
}
li a {
  text-decoration: none; color: #6550a8;
  border: 2px dotted #6550a8;
  border-radius: 40px;
  width: 500px;
  padding: 20px;
  margin: 20px;
  text-align: center;
}
#myCarousel {
  width: 50em;
}
.carousel-caption {
  font-family: 'merienda';
  text-align: center;
  font-size: 1.3em;
  color: white;
  background-color: rgb(101, 80, 168, 0.5);
  border-radius: 20px;
}

footer {
  position: relative;
  bottom: 0;
  right: 0;
  padding: 0.5em;
  font-family: 'merienda';
  text-align: right;
  font-size: 16px;
}
