body {
  background-image: url("./images/pinkfloral.jpeg");
  background-size: cover;
}

h1 {
  color: #a153d6;
  font-family: Allura;
  font-style: italic;
  font-size: 90px;
  text-align: center;
}
p {
  color: #DB7093;
  background: white;
  text-align: center;
  color: red;
  font-style: italic;
  font-family: courier;
  font-size: 300%;
  color: purple;
}
p {
  color: orange;
  background: lightyellow;
  font-style: italic;
  font-family: fantasy;
  font-size: 100%;
  border: 3px solid #7FBA65;
  padding: 1%;

}
.indexpic1 {
  width: 200px;
  border: solid slategrey 5px;
  border-radius: 10px;
}
.indexpic2 {
  width: 200px; 
  height: 200px;
  border: solid slategrey 5px;
  border-radius: 10px;
}
.indexpic3 {
  width: 122px; 
  height: 125px;
  border: solid slategrey 5px;
  border-radius: 10px;
}
.indexpic4 {
  width: 200px; 
  height: 200px;
  border: solid slategrey 5px;
  border-radius: 10px;
}
button{
    background-color: #FF9900; /* orange-white-Daisy */
    border: none;
    color: #FFFFFF;
    padding: 7px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-size: 10px;
    border-radius: 12px;


    font-size: 16px;

}
Nav {
  font-family: acme;
  font-size: 15px;
}
