body {
  background-image: url("landing.jpeg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
}
h1 {
  color: #a153d6;
  font-family: 'Allura';
  font-style: italic;
  font-size: 6em;
  text-align: center;
  padding: 2.5em;
}
a {
  text-decoration: none;
  color: #a153d6;
}
