jumbotron {
  background-image: url("./images/blurredflower.jpeg");
  background-size: cover;
}
.jumbotron h1 {
  color: black;
  font-family: 'Allura';
  font-style: italic;
  font-weight: bold;
  /* font-size: 50%; */
  text-align: center;
  margin-top: 0;
}
